= stylesheet_link_tag "gadgets"
%h2 My Magnificent PARTS
%table.index
  %thead
    %tr
      %th Id
      %th Name      
  %tbody
    - @parts.each do |p|
      %tr{:class => cycle("odd", "even"), :id => p.id}
        - # %td.twenty= link_to p.name, detail_part_path(g)
        %td.twenty= p.id        
        %td.twenty= p.name
    
= link_to "<- Back to Gadget", "/gadgets/#{@gadget.id}/detail"
