= stylesheet_link_tag "gadgets"
%h2= @gadget.name
%dl{:id => @gadget.verbose_id}
  %dt Description
  %dd= @gadget.description

  %dt Weight
  %dd= @gadget.complete_weight
  
  %dt Parts
  %dd
    %dl{:class => 'sublist'}
      %dt Number of Parts:
      %dd{:id => 'num-parts'}
        = "#{@gadget.parts.size} part#{@gadget.parts.size == 1 ? '' : 's'}"

= link_to "Back to Gadget Overview", root_path, :class => "breadcrumb"
= link_to "View Parts", 'parts', :class => 'breadcrumb'
= link_to "Add Part", 'parts/new', :class => 'breadcrumb'
